* {
  margin: 0;
  padding: 0;
}

/* Basic styles, change according to your style */

#start-page {
  background-image: url(/images.js/Backgrounds/Neon\ ninja\ city\ image.jpg);
  background-size: cover;
  justify-content: center;
  align-items: center;
  display: block;
}

#start-page h1 {
  margin-top: 100px;
  font-size: 33px;
  color: rgb(0, 211, 244);
  text-shadow: 3px 1px 4px rgb(0, 0, 0);
  filter:drop-shadow(0 0 15px #41add7) drop-shadow(0 0 50px #db3eb1) contrast(0.7) brightness(1.9);
  
  
}

#start-page p {
  font-size: 16px;
  font-family: fantasy;
  text-align: center;
  color: rgba(238, 212, 238, 0.84);
  text-shadow:0px 0px 3px rgb(0, 0, 0) ;
  margin-left: 180px;
  margin-right: 180px;
  margin-bottom: -50px;
  filter:drop-shadow(0 0 15px #490172) drop-shadow(0 0 50px #bb00ff) contrast(1) brightness(2);
  
}

#start {
   
    color: #db3eb1;
    border: 6px solid #db3eb1;
    border-radius:15px;
    padding: 15px 25px;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing:5px;
    cursor: pointer;
    font-weight: bolder;
    filter: drop-shadow(0 0 15px #db3eb1) drop-shadow(0 0 50px #db3eb1) contrast(1.5) brightness(1.5);
    transition: .5s;
  }
  
  #start:hover {
    color: black;
    background-color: #db3eb1;
    filter: drop-shadow(0 0 20px #db3eb1) contrast(2) brightness(2);
  }


#start-page,
#lose-page { /* NO SE TOCAAAA!*/
  height: 600px;
  width: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin: 0 auto;
  border: 1px solid black;
  margin-top: 30px;
}

#lose-page {
  background-image: url('/images.js/Seppuku\ Game\ Over.jpeg');
  background-size: 500px;
  background-position: -54px -10px;

}

#lose-page h1 {
/* position: static; */
color: black;
text-shadow: 0px 0px 17px black;;
font-size: 70px;
filter: drop-shadow(0 0 15px darkred) drop-shadow(0 0 50px #ff0000) contrast(1) brightness(1.9);
}

#lose-page p {
  /* position: static; */
  color: rgba(0, 0, 0, 0.887);
  font-family: fantasy;
  text-shadow: 0px 0px 17px darkred;;
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: -90px;
  filter: drop-shadow(0 0 15px rgba(118, 1, 1, 0.913)) drop-shadow(0 0 50px #ff0000) contrast(1) brightness(1.9);
  }

  #ronin {
    background-image:url(/images.js/Texto\ Kanji.png);
    /* background-clip: content-box; */
    /* background: transparent; */
    width: 8%;
    filter: drop-shadow(0 0 15px rgb(93, 0, 0)) drop-shadow(0 0 50px #ff0202) contrast(1) brightness(1.9);
  
  }

  #canvas {
    background-image: url('/images.js/\ Neo\ Geo\ Dojo.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
   
   /* align-items: center;
   
  }

canvas {
  border: 1px solid black;
  display: block;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 50px;
}

/* Auxiliar classes */

.hidden {
  display: none;
}

.shown {
  display: flex;
}